*.elc
*~
.emacs.desktop
.emacs.desktop.lock
.org-id-locations
.places
.smex-items
.yas-compiled-snippets.el
ac-comphist.dat
amx-items
auto-save-list
backups
bookmarks
custom.el
desktops
dict
eln-cache/
elpa
emms
eshell/history
eshell/lastdir
games/
history
multisession/
org-clock-save.el
projectile-bookmarks.eld
projects
recentf
session.*
setup/setup-elfeed-subscriptions.el
tramp
transient/
var
